In [16]:
import streamlit as st
from faker import Faker
import pandas as pd
import numpy as numpy
import random
from datetime import datetime
from getpass import getpass

In [17]:
faker = Faker()

categories = ["Groceries","stationary","Bills","Subscription","Investment","Transportation"]
payment_modes = ["UPI", "Cash", "Debit card"]
bills = ["water bill", "electricity bill", "wifi", "phone", "gas"]
subscription = ["audible", "prime","netflix","disney"]
description = [
    "Taxi fare for office",
    "monthly metro pass renewal",
    "Fuel refill at Gas Station Name",
    "Internet service provider bill",
    "Mobile recharge",
    "streaming service subscription renewal",
    "Accessories shopping",
]

In [68]:
def generate_monthly_data(year):
    data = []
    Days31 = [1, 3, 5, 7, 8, 10, 12]
    Days30 = [4, 6, 9, 11]

    for i in range(1, 13):
        for _ in range(100):

            if i in Days31:
                start_date = datetime(2024, i, 1)
                end_date = datetime(2024, i, 31)
            elif i in Days30:
                start_date = datetime(2024, i, 1)
                end_date = datetime(2024, i, 30)
            else:
                start_date = datetime(2024, i, 1)
                end_date = datetime(2024, i, 29)
            
            data.append({"Date": faker.date_between(start_date, end_date),
                        
                "Category": random.choice(categories),
                "payment mode": random.choice(payment_modes),
                "Description": faker.random.choice(description),
                "Amount": round(random.uniform(10,1000),2),
                "Cashback":round(random.uniform(0,20),2)

            })
    return pd.DataFrame(data)

In [69]:
# Generate data for all months
year = 2023

# monthly_data[f"{year}_{month}",] = generate_monthly_data(year,month)
exp_data = generate_monthly_data(year)
# print(monthly_data[f"{year}_{month}"])

In [70]:
exp_data

,Date,Category,payment mode,Description,Amount,Cashback
0,2024-01-22,stationary,UPI,monthly metro pass renewal,834.40,1.54
1,2024-01-24,Groceries,Cash,streaming service subscription renewal,121.43,2.23
2,2024-01-21,Subscription,Cash,Taxi fare for office,748.49,12.34
3,2024-01-28,Transportation,Cash,Fuel refill at Gas Station Name,244.26,15.74
4,2024-01-20,Bills,Debit card,Mobile recharge,978.43,10.62
...,...,...,...,...,...,...
1195,2024-12-17,Transportation,Debit card,Taxi fare for office,247.63,3.44
1196,2024-12-16,Transportation,UPI,Fuel refill at Gas Station Name,70.52,14.11
1197,2024-12-17,stationary,UPI,Taxi fare for office,997.99,11.46
1198,2024-12-23,Bills,Debit card,monthly metro pass renewal,205.80,5.97
1199,2024-12-08,stationary,Cash,Taxi fare for office,59.42,5.00

In [75]:
# Save each month to a csv
exp_data.to_csv("year_expense.csv", index = False)

In [72]:
import pandas as pd
import glob

In [78]:
df = pd.read_csv("year_expense.csv")